*{
	margin: 0;
	padding: 0;
}
body{
	text-align: center;
	overflow: hidden;
	font-size: 2rem;
	font-family: arial;
	color: #FFF;
	text-shadow: 0 0 4px #000, 0 0 4px #000;
}
#my_distance{
	appearance:none;
	width: 90%;
	height: 20px;
	background: rgba(100,100,200, .5);
	margin-top: 35px;
}
#my_distance::webkit-slider-thumb{
	appearance: none;
	width: 35px;
	height: 35px;
	background: #FFF;

}

video{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}
#heightInfo{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -100%);
	border-bottom: 3px solid #FFF;
	width: 100%;
}
